.clients {
    display: flex;
    gap: 30px;
    justify-content: center;
  }
  .clients__item {
    --n: 6; /* --The number of elements */
    width: calc((100% - (var(--n) - 1) * 30px) / var(--n));
    height: 92px;
  }
  .clients__link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-color: var(--icon-color);
    border-radius: 4px;
    transition: border-color 250ms var(--tra-cubic);

    &:hover,
    &:focus {
    border-color: var(--second-link-color);
    }
  }
  .clients__icon {
    width: 100%;
    height: 100%;
    fill: var(--icon-color);
    transition: fill 250ms var(--tra-cubic);

    .clients__link:hover &,
    .clients__link:focus & {
    fill: var(--second-link-color);
    }
  }