.features-list {
    display: flex;
    gap: 30px;
  }
  .features-list__item {
    flex-basis: calc((100% - 90px) / 4);
  }
  .features-list__icon {
    background-color: var(--background-color-light);
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .features-list__title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
    margin-bottom: 10px;
  }
  .features-list__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
  }