.footer {
  background-color: var(--background-color-dark);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 60px;
  @include desktop {
    flex-direction: row;
    gap: 0;
    align-items: baseline;
    justify-content: space-between;
    text-align: start;
  }
}
.footer-wrap {
  @include tablet {
    display: flex;
    justify-content: space-around;
  }
  @include desktop {
    align-items: baseline;
    gap: 94px;
  }
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-white);
  margin-top: 28px;
}
.footer-contacts {
  margin-top: 12px;
}
.footer-contacts__item:not(:first-child) {
  margin-top: 12px;
}
.footer-contacts__link {
  color: var(--color-footer-link);
  transition: color 250ms var(--tra-cubic);

  &:hover,
  &:focus {
    color: var(--color-blue);
  }
}

.footer-social {
  margin-top: 60px;
  @include tablet {
    margin-top: 0;
  }
}
.footer__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--footer-logo-color);
  margin-bottom: 20px;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  @include desktop {
    margin-top: 0;
    width: 570px;
    text-align: start;
  }
}
.footer__title--subscribe-form {
  font-weight: 700;
}
.subscribe-form__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  @include desktop {
    flex-direction: row;
    gap: 12px;
  }
}
.subscribe-form__input {
  width: 100%;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 15px 16px;
  color: var(--color-white);
  @include mobile {
    width: 450px;
  }
  @include desktop {
    width: calc(100% - 212px);
  }

  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  &:hover,
  &:focus {
    border-color: var(--color-blue);
    outline: transparent;
  }
}

.subscribe__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.subscribe-form__icon {
  fill: var(--first-btn-color);
}
