.header {
    border-bottom: 1px solid #ececec;
  }
  .header__container {
    min-height: 60px;
    display: flex;
    align-items: center;
  }

.nav-site {
  display: none;
  @include tablet {
    display: block;
    min-width: 282px;
    margin-left: 88px;
  }
  @include desktop {
    min-width: 284px;
    margin-left: 93px;
  }
  }
  .nav-site__list {
    display: flex;
    justify-content: space-between;
    // gap: 50px;
  }
  .nav-site__item {
    position: relative;
  }
  
  .nav-site__link {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--first-link-color);
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms var(--tra-cubic);

    &:hover,
    &:focus {
    color: var(--second-link-color);
    }
  }
  
.current::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 100%;
  display: none;
  background-color: var(--second-link-color);
  border-radius: 2px;
  left: 0;
  bottom: 0;
  @include tablet {
    display: block;
  }
}

.header-contacts {
  display: none;
  margin-left: auto;
  gap: 50px;
  @include tablet {
    display: flex;
  }
}
  
  .header-contacts__link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-gray);
    transition: color 250ms var(--tra-cubic);

    &:hover,
    &:focus {
    color: var(--color-blue);
    }
  }
  .header-contacts__link-icon {
    margin-right: 10px;
    fill: currentColor;
  }

  .mobile-btn {
    border: none;
    padding: 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    outline: transparent;
  }
  .mobile-btn__icon {
    fill: var(--main-color);
    transition: fill 250ms var(--tra-cubic);
    
    .mobile-btn:hover &,
    .mobile-btn:focus & {
      fill: var(--hover-btn-color);
    }
  }