.header {
    border-bottom: 1px solid #ececec;
  }
  .header__container {
    // min-height: 60px;
    display: flex;
    align-items: center;
  }

.nav-site {
  display: none;
  @include tablet {
    display: block;
    min-width: 282px;
    margin-left: 88px;
  }
  @include desktop {
    min-width: 284px;
    margin-left: 93px;
  }
  }
  .nav-site__list {
    display: flex;
    justify-content: space-between;
    // gap: 50px;
  }
  .nav-site__item {
    position: relative;
  }
  
  .nav-site__link {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--first-link-color);
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms var(--tra-cubic);

    &:hover,
    &:focus {
    color: var(--second-link-color);
    }
  }
  
.current::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 100%;
  display: none;
  background-color: var(--second-link-color);
  border-radius: 2px;
  left: 0;
  bottom: 0;
  @include tablet {
    display: block;
  }
}

.header-contacts {
  display: none;
  margin-left: auto;
  @include tablet {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  @include desktop {
    flex-direction: row;
    gap: 50px;
  }
}
  .header-contacts__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(14/12);
    letter-spacing: 0.02em;
    color: var(--color-gray);
    transition: color 250ms var(--tra-cubic);
    @include desktop {
      font-size: 14px;
      line-height: calc(16/14);
    }

    &:hover,
    &:focus {
    color: var(--color-blue);
    }
  }
  .header-contacts__link-icon {
    margin-right: 8px;
    fill: currentColor;
    @include desktop {
      margin-right: 10px;
    }
  }

.menu-open {
  border: none;
  padding: 0;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-flex;
  background-color: transparent;
  outline: transparent;
  @include tablet {
    display: none;
  }
}
  .menu-open__icon {
    fill: var(--main-color);
    transition: fill 250ms var(--tra-cubic);
    
    .menu-open:hover &,
    .menu-open:focus & {
      fill: var(--hover-btn-color);
    }
  }

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-white);
  @include mobile {
    padding-left: 40px;
    padding-right: 40px;
  }
  @include tablet {
    display: none;
  }
}

.menu-close {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  padding: 0;
  display: inline-flex;
  background-color: transparent;
  outline: transparent;
}

.menu-close__icon {
  fill: var(--main-color);
  transition: fill 250ms var(--tra-cubic);
  
  .menu-close:hover &,
  .menu-close:focus & {
    fill: var(--hover-btn-color);
  }
}

.mob-wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mob-nav__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.mob-nav__link {
  display: block;
  font-weight: 500;
  font-size: 8.33vw;
  line-height: calc(47/40);
  letter-spacing: 0.02em;
  color: var(--first-link-color);
  transition: color 250ms var(--tra-cubic);
  @include mobile {
    font-size: 40px;
  }
  
  &:hover,
  &:active,
  &:focus {
    color: var(--second-link-color);
  }
}

.mob-tel {
  display: block;
  font-weight: 500;
  font-size: 7vw;
  line-height: calc(40/34);
  letter-spacing: 0.02em;
  color: var(--color-blue);
  margin-bottom: 32px;

  @include mobile {
    font-size: 34px;
  }
}
.mob-mail {
  display: block;
  font-weight: 500;
  font-size: 5vw;
  line-height: calc(28/24);
  letter-spacing: 0.02em;
  color: var(--color-gray);
  margin-bottom: 64px;
  transition: color 250ms var(--tra-cubic);
  
  @include mobile {
    font-size: 24px;
  }
  
  &:hover,
  &:focus {
  color: var(--color-blue);
  }
}

.mob-social {
  display: flex;
  gap: 20px;
}

.mob-social__item {
  position: relative;
}
.mob-social__item:not(:last-child)::after {
  content: '';
  position: absolute;
  right: 10px;
  top: 10px;
  width: 4.5vw;
  height: 1px;
  // transform: rotate(90deg);
  margin-left: 10px;
  @include mobile {
    width: 22px;
  }
}

.mob-social__link {
  font-weight: 500;
  font-size: 3.75vw;
  line-height: calc(22/18);
  letter-spacing: 0.02em;
  color: var(--color-blue);
  @include mobile {
      font-size: 18px;
    }
}