/* .header a {
  text-decoration: none;
} */
.header {
    border-bottom: 1px solid #ececec;
  }
  .header-container {
    display: flex;
    align-items: center;
  }
  .logo {
    font-family: var(--font-ral);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--first-logo-color);
  }
  
  .header-logo-web {
    color: var(--second-logo-color);
  }
  .nav-site {
    margin-left: 93px;
  }
  .nav-site-list {
    display: flex;
    gap: 50px;
  }
  .nav-site-item {
    position: relative;
  }
  
  .nav-site-link {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--first-link-color);
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms var(--tra-cubic);

    &:hover,
    &:focus {
    color: var(--second-link-color);
    }
  }
  
  .current::after {
    position: absolute;
    content: "";
    height: 4px;
    width: 100%;
    display: block;
    background-color: var(--second-link-color);
    border-radius: 2px;
    left: 0;
    bottom: 0;
  }
  
  .header-contacts-list {
    display: flex;
    margin-left: auto;
    gap: 50px;
  }
  
  .header-contacts-link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-gray);
    transition: color 250ms var(--tra-cubic);

    &:hover,
    &:focus {
    color: var(--color-blue);
    }
  }
  .contacts-link-icon {
    margin-right: 10px;
    fill: currentColor;
  }