.portfolio-filters-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 40px;
    @include tablet {
      margin-bottom: 30px;
      justify-content: center;
    }
    @include desktop {
      margin-bottom: 50px;
    }
  }
  .portfolio-filters-item:nth-child(-n + 3) {
    margin-bottom: 15px;
    @include tablet {
      margin-bottom: 0;
    }
  }
  
  .filter-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    color: var(--second-btn-color);
    background-color: var(--color-portfolio-btn);
    border-radius: 4px;
    padding: 6px 22px;
    display: block;
    transition: background-color 250ms var(--tra-cubic),
      color 250ms var(--tra-cubic), box-shadow 250ms var(--tra-cubic),
      outline 250ms var(--tra-cubic);

    .filter-input:checked + & {
      background-color: var(--hover-btn-color);
      color: var(--first-btn-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }
    .filter-input:focus + & {
      outline: 1px solid var(--color-black);
    }
    &:hover {
      cursor: pointer;
      outline: 1px solid var(--color-black);
    }
  }