.section__team {
    background-color: var(--background-color-light);
    text-align: center;
  }
  
  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .team-card {
    flex-basis: 100%;
    @include tablet {
      flex-basis: calc((100% - 30px) / 2);
    }
    @include desktop {
      flex-basis: calc((100% - 90px) / 4);
    }
    background-color: var(--background-color-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .team-card__data {
    padding-top: 30px;
    padding-bottom: 24px;
    @include desktop {
      padding-bottom: 30px;
    }
  }
  .team-card__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 10px;
  }
  .team-card__text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
    margin-bottom: 16px;
  }